<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!--font awesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="stylesheet" href="/style/base.css">
{{!-- google font --}}
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
    {{!-- <link rel="stylesheet" href="/style/bg-image.css"> --}}
    <title>Solely Spice</title>
    <link rel="shortcut icon" type="image/jpg" href="images/newSpiceLogo.png" style="color:black"/>
  </head>
  <body>

 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand ms-1" href="#"><img id="navLogo"src="/images/newSpiceLogo.png"/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link ms-lg-3" aria-current="page" href="/products">Products</a>
        </li>
        <li class="nav-item">
        <a class="nav-link ms-lg-2" href="/orders">Orders</a>
        </li>
        <li class="nav-item">
        <a class="nav-link ms-lg-2 " href="/users">Users</a>
         </li>
         </div>
        {{!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>  --}}
       
  
 
    {{!-- <a class="nav-link ms-auto me-1 lgBut"  href="/users/logout" style="color:white; text-decoration: none;">Logout --}}
                    
                    {{!-- <div class="nav-item d-flex justify-content-center align-items-center text-center ms-auto"> --}}
                     <div class="nav-item d-flex justify-content-center align-items-center text-center ms-auto mt-sm-2 mt-lg-0">
                
                    {{#if user}}
                   <div class="d-none d-lg-inline"> Hi, {{user.username}}</div>
                     <a class="nav-link lgBut mt-sm-3 mt-lg-0"  href="/users/logout" style="color:white; text-decoration: none;">Logout</a>
                    {{!-- <a href="/users/logout" style="text-decoration: none; color:white" class="lgBut">Logout</a> --}}

                    {{else}}
                    
                  
                    {{!-- <span style="color:white">Hi,Guest </span>
                    <a href="/users/login" class="ml-3 btn btn-primary btn-sm ">Login</a> --}}
                  
                   
                    {{/if}}

                    </div>

    {{!-- </a> --}}

  
</div>
     </nav>
   
<div class="container mt-4 msg" >
        {{#if success_messages }}        
            {{#each success_messages}}
                <div class="alert alert-success ">
                    {{this}}
                </div>
            {{/each}}        
        {{/if}}

        {{#if error_messages}}
            {{#each error_messages}}
                <div class="alert alert-danger mx-3">
                    {{this}}
                </div>
            {{/each}}       

        {{/if}}
    {{#block 'content'}}{{/block}}
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      {{!-- Bootstrap JS --}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

       {{#block 'js'}}
        {{/block}}
  </body>
</html>