{{#extends 'base'}}

{{#block 'content'}}
<h1 class="mt-3">Deleting {{user.email}}</h1>

<form method="POST">
    <div class="alert alert-danger">
        <p>Are you sure you want to delete {{user.email}}?</p>
        <input type="submit" class="btn btn-danger" value="Yes"/>
        <a href="/users" class="btn btn-success">No</a>
         <input type="hidden" value="{{csrfToken}}" name="_csrf"/>
    </div>
</form>
{{/block}}
{{/extends}}