{{#extends 'base'}}

{{#block 'content'}}
<h1 class="mt-4">Updating User :{{user.email}}</h1>
<form method="POST">
    {{{userUpdateForm}}}
           <!-- 1. shows the image if exists -->
    
     <input class="btn btn-sm btn-dark mt-3" type="submit" value="Update" >
    <a href="javascript:history.back()" class="btn btn-dark btn-sm mt-3">Cancel</a>
</form>
{{/block}}

{{/extends}}