{{#extends 'base'}}

{{#block 'content'}}
<h1 class="mt-3">Deleting {{product.name}}</h1>

<form method="POST">
    <div class="alert alert-danger">
         <img class="mt-2 mb-2"src="{{product.image_url}}" width="200px"  class="img-fluid"/>
        <p>Are you sure you want to delete {{product.name}}?</p>
        <input type="submit" class="btn btn-danger" value="Yes"/>
        <a href="/products" class="btn btn-success">No</a>
    </div>
</form>
{{/block}}
{{/extends}}